* { margin: 0; padding: 0;}

body, html { height:100%; }

#canvas {
    position:absolute;
    width:100%;
	height:100%;
	background-color: #FDFDFD;
}

.soundContainer {
	position: fixed;
	top: 5%;
	right: 5%;
	z-index: 100;
}

svg {
	fill: #A1A1A1;
	transition: all .2s ease-in-out; 
}

svg:hover {
	fill: #222222;
	transform: scale(1.3);
}
