* { margin: 0; padding: 0;}

body, html { height:100%; }

#canvas {
    position:absolute;
    width:100%;
    height:100%;
}

.soundContainer {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 100;
}

.soundOn {
	background-image: url('../assets/volume-up-solid.svg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}

.soundOff {
	background-image: url('../assets/volume-mute-solid.svg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}